*{
    margin: 0;
    padding: 0;
    box-sizing: "border-box";
}
header,
main{
    background-color: black;
}
.flex-container{
    display: flex;
    justify-content:flex-end;
    margin-right: 20px;
}
.button{
    margin:5px;
    background-color: rgb(83, 83, 83);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
}
.arrow{
    color: white;
    position: absolute;
}
.arrow1{
    padding: 400px 0 0 20px;
    font-size: 15px;
}
.arrow i{
    font-size: 40px;
}
.arrow1 i{
    color: grey;
}
.arrow2{
    padding-top: 400px;
    padding-left: 1310px ;
}
.arrow2 i{
    color: rgb(40, 185, 243);
}
.image-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 50px 100px;
}
.box-image{
    width: 230px;
    height: 150px;
    padding-top: 10px;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
}
span{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 2px;
    color: white;
}
footer{
    background-color: rgb(65, 64, 64);
}
.nav-flex{
    display: flex;
}
.start-nav{
    font-size: 15px;
    padding: 12px;
    color: white;
    text-align: center;
}
.position{
    margin-left: 200px;
}
.fa-desktop{
    color: green;
}
.footer-button{
    margin-left: 249px;
    background-color: grey;
    border:none;
    color: red;
}
